<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdd.dao.impl.MethodReportDaoImpl" >
  <resultMap id="MethodResultMap" type="com.fdd.domain.MethodReport" >
    <result column="report_id" property="reportId" jdbcType="BIGINT" />
    <result column="suite_name" property="suiteName" jdbcType="VARCHAR" />
    <result column="method_name" property="methodName" jdbcType="VARCHAR" />
    <result column="process_pass" property="processPass" jdbcType="INTEGER" />
    <result column="process_fail" property="processFail" jdbcType="INTEGER" />
    <result column="method_result" property="methodResult" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="paramList">
    report_id, suite_name, method_name, process_pass, process_fail, method_result
  </sql>

  <select id="queryAllMethodReport" resultMap="MethodResultMap">
    SELECT
    <include refid="paramList"/>
    FROM method_report
  </select>

</mapper>