<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://code.alibabatech.com/schema/dubbo
                           http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <dubbo:application name="LogPlatformDubbo"/>
    <dubbo:registry address="zookeeper://10.12.21.117:2181?client=zkclient"/>

    <dubbo:reference interface="com.fangdd.customer.protocol.dubbo.service.UserApi" id="userApi" version="1.0.0" retries="0" timeout="5000"/>

</beans>